<div id="form">
  <%= form_for @carro, :url => {:action => :create} do |f| %>
    <strong>Quer vender ?</strong>
    <br/><br/>

    <%= f.label :nome %> <br/>
    <%= f.text_field :nome, :class => 'button-input' %>
    <br/>

    <%= f.label :descricao %> <br/>
    <%= f.text_area :descricao, :cols => 26, :rows => 9 %>
    <br/>

    <%= f.label :preco %> <br/>
    <%= f.text_field :preco, :class => 'button-input' %>
    <br/>

    <%= f.submit "Anunciar!", :disable_with => '...', :class => 'anunciar' %>

  <% end %>
</div>

<div id="busca">
  <strong>Carros a venda</strong>
  <br/>

  <% unless @carros.blank? %>
    <% @carros.each do |carro| %>
      <br/>
      <b><%= carro.nome %></b><br/>
      <%= carro.descricao%><br/>
      R$ <%= carro.preco%>
      <br/>
    <% end %>
  <% else %>
      <p>nenhum carro cadastrado.</p>
  <% end %>
</div>

